.bro1{
	border-style: solid;
	border-color: #03fc39;
	background-color:black;
}
.bro2{
	color:red;
	width:50px;
}
.img1{
	width:80px;
	height:80px;
}
body{
	background-image:url(./1078161.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
.cc{
	color:white;
	margin-left:500px;
}
h1{
	color:white;
}
tr{
	border-radius:30px;
	border-color: #03fc39;
	background-color:black;
}
.nut{
	background-color:#1d23d1;
	color:white;
	font-size: 50px;
	margin-left:280px;
}
.fb{
	background-color:#2d56b5;
	color:white;
	border-radius:10px;
	text-align: center;
}
.giua{
	margin-left:350px;
}
.giua1{
	margin-left:450px;
}
.center{
	text-align: center;
}